@charset "utf-8";
*, div, a {
	margin: 0;
	padding: 0;
}
.wrapper {
	min-width: 830px;
	min-height:650px;
	height: auto;
	overflow: auto;
	width: 100%;
	background: #FFF;
	font: 12px arial;
	color: #999
}
.header {
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	padding-top: 20px;
	position: relative;
}
.header a {
	display: inline-block;
	margin-left: 25px;
	text-align: center;
	color: #000;
}
.header a:hover {
	color: #00c
}
.header a.more {
	margin: 0 25px;
	padding: 2px 5px;
	text-decoration: none;
	background: #38f;
	color: #FFF
}
#moreul {
	display:none;
	position: absolute;
	right: 0;
	top: 0;
	width: 86px;
	background-color: #f9f9f9;
	border-left: 1px solid #e7e7e7;
	min-height:650px;
	font-weight: normal
}
#moreul li {
	border-bottom: 1px solid #f0f0f0;
	color: #666;
	display: block;
	height: 76px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	width: 66px;
}
#moreul li.title {
	color: #333;
	cursor: default;
	font-size: 13px;
	height: 43px;
	line-height: 43px;
	padding-top: 9px;
}
#moreul li.gengduo{ height:50px; line-height:50px; width:70px; text-align:center; border:none}
#moreul li.gengduo a{ text-decoration:underline}
#moreul li a {
	padding-left: 0;
	margin-left: 0
}
#moreul li a span {
	background:url(../image/bdbri_icons.png) no-repeat;
	cursor: pointer;
	display: block;
	height: 36px;
	margin: 10px auto 5px;
	width: 36px;
}
#moreul li a span.music {
	background-position: -72px 0;
	width: 40px
}
#moreul li a span.pic {
	background-position: -112px 0
}
#moreul li a span.know {
	background-position: -36px 0
}
#moreul li a span.article {
	background-position: -148px 0
}
#moreul li a span.bang {
	background-position: -185px 0
}
.center img {
	display: block;
	width: 270px;
	margin: 0 auto
}
.center form {
	margin: 22px auto 0;
	text-align: left;
	width: 641px;
	overflow: hidden
}
.center p.text {
	width: 520px;
	height: 25px;
	border: 1px solid #ccc;
	border-right: none;
	padding: 5px 10px;
	float: left;
	overflow: hidden
}
.center p.text span {
	width: 20px;
	cursor: pointer;
	height: 20px;
	margin: 7px 0;
	overflow: hidden;
	float: left;
	background : #fff url(camera.png) no-repeat;
}
.center p.text span:hover {
	background-position: 0 -20px;
}
.center p.text input {
	float: left;
	width: 485px;
	height: 25px;
	line-height: 25px;
	border: none;
}
.center button.baidu {
	background: #38f;
	color: #FFF;
	width: 100px;
	text-align: center;
	border: none;
	height: 37px;
	float: left;
}
.foot {
	text-align: center;
	margin-top: 200px;
	line-height: 30px;
}
.foot p.moble {
	font-weight: bold;
	color: #000;
}
.foot a {
	color: #999;
	margin-left: 25px;
}
/* CSS Document */
